body.client-side{
	background-image: url("/osta/img/backdrops/../../uploads/LETRERO-LUMINICO-6-07.png") !important;
    background-size: cover !important;
}

body.client-side #content {
	background-color: hsl(229, 68%, 85%) !important;
    h1 { color: DarkSlateGray }
}

#loginBox button[type=submit] {
	background: navy;
    color: lavender !important;
}

form#login input{
  background-color: hsl(240 67% 88%)
}
form#login input::placeholder {
	color: darkgray;
}

.client-choice{
 	background-color: hsl(214 80% 94%);
}


#nav-wrapper{
 	height: 48px;
	align-content: center;
}

#nav li {
	margin-left: 40px;
}

#sidr-right{
  width: fit-content;
  right: -250px;
}

#open-or-check{
  margin-top: 20px;
}

#nav-inner{
	padding: 10px 0;
}



#footer{
  
}

